table
{
    background-color: #DBEAF9;
    border-collapse: collapse;
    border: none;
}

tr
{
    border-collapse: collapse;
}

td
{
    text-align: center;
    vertical-align: middle;
}

td:nth-child(even)
{
    background: #F5DEB3;
}

td:nth-child(even)
{
    background: white;
}

tr:nth-child(odd)
{
    background: #284775;
    color: white;
}
/*header*/

tr:nth-child(even)
{
    background: #F5DEB3;
}
